.main-header {
    background-color: black;
    padding: 4rem 0;
    display: flex;
    max-width: 100vw;
    justify-content: space-between;
}

.main-header #robo {
    height: 8rem;
    width: 8rem;
    margin-left: 2em;
}

.main-header .main-title {
    color: white;
    font-size: 3rem;
    font-family: 'Press Start 2P', cursive;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    border-bottom: 2px solid white;
}