.main-nav {
    background-color: lightgray;
    padding: 10px;
    max-width: 100%;
}

.main-nav .navigation {
    display: flex;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.5rem;
    list-style: none; 
}

.options {
    font-family: 'Gluten', cursive;
    margin-right: 10rem;
    margin-left: 2rem;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
    background-color: black;
    transition: 350ms;
}