.main-header {
    background-color: black;
    padding: 1rem 0;
    max-width: 100vw;  
}

.main-header #robo {
    height: 8rem;
    width: 8rem;
    margin-left: 2em;
    margin-right: 2em;
}

.main-header .main-title {
    color: white;
    font-size: 3rem;
    font-family: 'Press Start 2P', cursive;
    margin-top: 2.8rem;
}

/* Wrapper-header foi criado como solução para mover 2 elementos diferentes dentro do mesmo pai, no caso o logo/nome + navbar. Assim criando uma nova hierarquia 
dentro do pai e conseguindo mover os 2 filhos de forma diferente */

.wrapper-header {
    display: flex;
    justify-content: space-between;
}

.wrapper-header .wraptitle {
    display: flex;
}

.wrapper-header .navbar {
    display: flex;
    justify-content: right;
    align-items: center;
    
}

@media only screen and (max-width: 1100px) {
    .wrapper-header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .main-header {
        width: 100vw;
        text-align: 1.5em;
    }
}

@media only screen and (max-width: 840px) {
    .main-header .main-title {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 720px ) {
    .main-header .main-title {
        font-size: 2rem;
    }
}